@import '../../global.scss';


:local(.facecontainer) {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  position: absolute;
  top: 10rem;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10rem auto;
    > a {
      height: 10rem;
    }
}
:local(.iconbutton) {
  width: 10rem;
  height: auto;
  padding-bottom: 2rem;
  border-radius: 10%;
    > h3 {
      margin-top: 0;
      padding-top: 1rem;
    }

}
:local(.iconbutton:hover) {
  width: 10rem;
  height: auto;
  background-color: $main-plain-white;
  color: $main-avocado-green;
}
