@import '../../global.scss';


:local(.outermostcontainer) {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  top: 0;
}

:local(.article) {
  height: auto;
  background: $main-aqua-blue-gradient;
  color: #404E4D;
  margin: 0;
  list-style: none;
  padding: 3rem 0;

    > li {
      background: #0000000f;
      width: 90%;
      margin: 3rem auto;
      box-shadow: 0.3rem 0.3rem 0.5rem #00000024;
    }
    > li > h2 {
      display: inline-block;
      padding-top: 1rem;
      padding-left: 3rem;
    }
    > li > article {
      padding: 3rem;
      margin-bottom: 3rem;
      padding-bottom: 10rem;
    }
}

:local(.imageframeleft) {
  display: inline-block;
  width: auto;
  height: auto;
  float: left;
  padding: 5%;
    > img {
      width: 20rem;
    }
}
:local(.imageframeright) {
  display: inline-block;
  width: 300px;
  height: auto;
  float: right;
  padding: 5%;
    > img {
      width: 20rem;
    }
}

:local(.dateobject) {
    text-align: right;
    width: calc(100% - 10%);
    display: inline-block;
    padding: 3% 5%;
}
