:local(.outermostcontainer) {
  width: 100%;
  height: 600px;
  display: inline-block;
  position: relative;
  top: 0;
}

:local(.article) {
  height: 768px;
  background: grey;
  color: white;
  margin: 0;
  list-style: none;
  padding: 0;
}
